{% extends 'base.html' %}
{% block content %}
<h1>{{ user.name }}({{ user.user_id }})에 대한 정보</h1>
<h2>보유 비콘 목록</h2>
    <div>
        {% if user.get_beacons() %}
        {% for beacon in user.get_beacons() %}
        {{ beacon.get_point() }}({{ beacon.device_id }}) <br>
        <div>
            <table>
                <th>
                    시간
                </th>
                <th>
                    조용
                </th>
                <th>
                    생활소음
                </th>
                <th>
                    시끄러움
                </th>
                {% for timeseries in beacon.get_env_1_week_desc() %}
                <tr>
                    {% for value in timeseries %}
                    <td align="center">{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        {% else %}
        <h2>없음</h2>
        {% endif %}
    </div>
</div>
<br />
<div class="container">
    <div class="box3">
        <div>
            <h2>연세: {{ user.age }}</h2>
            <h2>사는 곳: {{ user.place }}</h2>
            <h2>전화번호: <a href="tel:+{{ user.phone_number }}">{{ user.phone_number }}</a></h2>
        <div class="box1">
            <div class="box2">특이 사항
            </div>
            <form action="/add_note" method="post">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="text" name="detail">
                <button type="submit">저장</button>
                
            </form>
            <!-- <form action="/get_note" method="post">
                <output type="text" name="detail">
                    {{ user.detail }}
            </form> -->
        </div>
    </div>
</div>




{% endblock %}